#about {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0;
}

.aboutDes {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.aboutImg {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.aPicDiv {
  display: flex;
  justify-content: center;
}

.aPic {
  width: 90%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  #about {
    flex-direction: column-reverse;
    height: 100%;
  }

  .aboutImg {
   margin-bottom: 10px;
  }

  .aPic {
    width: 100%;
  }
}