#contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

.conTitle {
  font-size: 50px;
}

.conDes {
  display: flex;
  justify-content: center;
}

.conText {
  width: 55%;
  font-size: 18px;
}

.tempBtn {
  margin-top: 10px;
}

.contactBtns {
  display: flex;
  justify-content: flex-end;
}

.hrLine {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .conText {
    width: 85%;
  }
}