#navStyle {
  position: fixed;
  width: 100%;
  left: 0px;
  z-index: 1;
}

#navCont {
  margin: 0px;
  padding-left: 3rem;
  padding-right: 3rem;
}

.navSec {
  background-color: aqua;
  position: fixed;
  height: 50px;
  width: 100%;
  /* top: 0; */
  left: 0;
  z-index: 1;
  /* transition: .3s ease-in; */
  /* overflow: hidden; */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: 1240px; */
  /* margin: auto; */
  height: 100%;
  padding: 0 1rem;
}

.nav a {
  color: black;
}

.navLi {
  list-style: none;
  display: flex;
  align-items: center;
  
  padding: 0px;
  margin: 0px;
}