.navSec {
  background-color: aqua;
  position: fixed;
  height: 70px;
  width: 100%;
  /* top: 0; */
  left: 0;
  z-index: 1;
  /* transition: .3s ease-in; */
  /* overflow: hidden; */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: 1240px; */
  margin: auto;
  height: 100%;
  padding: 0 1rem;
}

.nav a {
  color: black;
  text-decoration: none;
}

.navHome {
  padding: 0 1rem;
}

.navHome:hover {
  color: black;
}

.navMenuIcons {
  display: none;
}

.navMenu {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.navTab {
  padding: 1rem;
}

.navTab a:hover {
  color: black;
  padding-bottom: 3px;
  border-bottom: 3px solid black
}

@media screen and (max-width: 800px) {
  .navSec {
    max-width: 100%;
  }

  .nav {
    max-width: 100%;
  }

  .navMenuIcons {
    display: block;
  }

  .navMenu {
    position: fixed;
    right: -100%;
    top: 70px;
    flex-direction: column;
    background-color: aqua;
    width: 100%;
    height: 100vh;
    z-index: 2;
    text-align: center;
    transition: .5s;
  }

  .navMenu.open {
    right: 0;
  }

}